{{ define "main-page" }}
<div class="space-y-4">
    <div class="flex gap-2">
        <button hx-get="/ui/invoices?status=all&page=1" hx-target="#main-content" class="bg-white px-3 py-1 rounded shadow-sm text-sm">Wszystkie</button>
        <button hx-get="/ui/invoices?status=PENDING&page=1" hx-target="#main-content" class="bg-blue-300 px-3 py-1 rounded shadow-sm text-sm">Oczekujące</button>
        <button hx-get="/ui/invoices?status=PROCESSING&page=1" hx-target="#main-content" class="bg-yellow-200 px-3 py-1 rounded shadow-sm text-sm">Przetwarzane</button>
        <button hx-get="/ui/invoices?status=SENT&page=1" hx-target="#main-content" class="bg-green-300 px-3 py-1 rounded shadow-sm text-sm">Wysłane</button>
        <button hx-get="/ui/invoices?status=FAILED&page=1" hx-target="#main-content" class="bg-red-300 px-3 py-1 rounded shadow-sm text-sm">Niewysłane</button>
    </div>
    <div id="table-container" hx-get="/ui/invoicetable?status={{ .CurrentFilter }}&page={{ .Page }}" hx-trigger="every 10s" hx-target="#table-container">
        {{ template "invoice-table" . }}
    </div>

    <div id="invoice-target" class="min-w-0">
    </div>
</div>
{{ end }}
