{{ define "invoice-table" }}
        <div class="bg-white rounded-lg shadow overflow-hidden">
            <table class="min-w-full">
                <thead class="bg-gray-50 border-b">
                    <tr>
                        <th class="p-4 text-left text-xs font-semibold uppercase">ID Zewn.</th>
                        <th class="p-4 text-left text-xs font-semibold uppercase">Status</th>
                        <th class="p-4 text-left text-xs font-semibold uppercase">ID KSeF</th>
                        <th class="p-4 text-center text-xs font-semibold uppercase">Próby</th>
                        <th class="p-4 text-center text-xs font-semibold uppercase">Data aktualizacji</th>
                        <th class="p-4 text-center text-xs font-semibold uppercase">Data utworzenia</th>
                        <th class="p-4 text-center text-xs font-semibold uppercase">ZOBACZ</th>
                    </tr>
                </thead>
                <tbody id="invoice-rows">
                    {{ template "invoice-rows" . }}
                </tbody>
            </table>
        </div>

<div class="flex justify-between items-center py-2">
        {{ if ne .Page 1 }}
        <button hx-get="/ui/invoicetable?status={{.CurrentFilter}}&page={{.PrevPage}}&query={{ .EscapedQuery }}" hx-target="#table-container" class="text-sm font-medium text-white hover:underline">
            Poprzednia
        </button>
        {{ else }}
        <span class="text-sm font-medium text-gray-400 cursor-not-allowed">
            Poprzednia
        </span>
        {{ end }}
        
        <span class="text-white">Strona {{.Page}}</span>
        {{ if .More }}
        <button hx-get="/ui/invoicetable?status={{.CurrentFilter}}&page={{.NextPage}}&query={{ .EscapedQuery }}" hx-target="#table-container" class="text-sm font-medium text-white hover:underline">
            Następna
        </button>
        {{ else }}
        <span class="text-sm font-medium text-gray-400 cursor-not-allowed">
            Następna
        </span>
    {{ end }}
</div>
{{ end }}

{{ define "invoice-rows" }}
    {{ range .Invoices }}
    <tr class="border-b hover:bg-gray-50 transition-colors">
        <td class="p-4 text-sm">{{ .ExternalId }}</td>
        <td class="p-4 text-sm font-bold">{{ .Status }}</td>
        <td class="p-4 text-sm">
            {{ if .KsefId }}{{ .KsefId }}{{ else }}<span class="text-gray-400 text-xs">-</span>{{ end }}
            {{ if .KsefErr }}
                <div class="text-[10px] text-red-500 italic mt-1">{{ .KsefErr }}</div>
            {{ end }}
        </td>
        <td class="p-4 text-sm text-center">{{ .AttemptCount }}</td>
        <td class="p-4 text-sm text-center text-gray-500">{{ .UpdatedAt.Local.Format "2006-01-02 15:04" }}</td>
        <td class="p-4 text-sm text-center text-gray-500">{{ .CreatedAt.Local.Format "2006-01-02 15:04" }}</td>
        <td class="p-4 text-sm text-center">
          <button hx-get="/ui/invoice?id={{ .Id }}" hx-target="#invoice-target" hx-swap="innerHTML" class="underline text-blue-700 hover:no-underline cursor-pointer">Podgląd</button>
        </td>
    </tr>
    {{ else }}
    <tr>
        <td colspan="7" class="p-10 text-center text-gray-400">Brak faktur...</td>
    </tr>
    {{ end }}
{{ end }}
